*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h4{
    text-align: center;
    margin: 10px 0;
}
input{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.result{
    width: 500px;
    height: 50px;
    background: #D1E7DD;
    margin: 20px 0;
    line-height: 50px;
    padding: 0 20px;
    color: red;
    border-radius: 10px;
}